
.wrap{
	width: 1158px;
	margin: 0 auto;
}

.bg{
	height: 647px;
	background: url(../images/bg.jpg);
	overflow: hidden;
}

.bar{
	margin-top: 40px;
	height: 102px;
	background: rgba(255,255,255,0.7);
	overflow: hidden;
}

.nav_l{
	margin-top: 27px;
}

.nav_l span{
	color: #02953a;
	display: inline-block;
	margin-top: 5px;
}

.nav_r{
	margin-left: 60px;
}

.nav_r .hotline{
	padding-left: 567px;
	line-height: 21px;
	margin-top: 5px;
}

.hotline span{
	color: #02953A;
}

.hotline img{
	vertical-align: middle;
}

.nav_r li{
	float: left;
	height: 49px;
	width:97px;
	text-align: center;
}

.nav_r li:hover{
	background: #02953A;
	color: #FFFFFF;
}

.nav_r ul span{
	font-weight: bold;
	display: inline-block;
}

.c_title{
	font-size: 18px;
	margin-top: 5px;
}

.e_title{
	font-size: 11px;
	margin-top: 3px;
}


/*about*/


.about_us{
	overflow: hidden;
	text-align: center;
	margin-top: 30px;
	font-weight: bold;
}

.about_title{
	margin:0 auto;
	margin-bottom: 4px;
	width: 354px;
	height: 36px;
	background: url(../images/about_wrap.jpg);
	vertical-align: bottom;
	font-size: 32px;
}

.about_us h3{
	font-size: 28px;
	font-weight: bold;
}

.about_us p{
	line-height: 33px;
	font-weight: normal;
}

.about_us span{
	display: inline-block;
	font-size: 17px;
	margin-top: 10px;
	margin-bottom: 20px;
}


/*news*/


.news{
	background: #e5e5e5;
	height: 365px;
}

.news .news_content{
	padding: 25px 0; 
}

.news_center{
	width: 855px;
	height: 315px;
}

.know_more{
	width:273px;
	background: #45a643;
	height: 285px;
}

.news_center>h3{
	display: inline-block;
	font-size: 18px;
	font-weight: bold;
	border-bottom: 2px solid #45a643;
	margin-left: 3px;
}

.news_center .line{
	display: inline-block;
	border-top: 1px solid #45a643;
	width: 780px;
	vertical-align: top;
	margin-left: 3px;
}

.news_detail{
	width: 792px;
}

.news_detail>img{
	margin-left: 12px;
}

.detail{
	float: right;
	display: inline-block;
	height: 160px;
	width: 500px;
}


.detail h3{
	text-align: center;
	font-size: 15px;
	font-weight: bold;
	line-height: 35px;
}

.detail p{
	text-indent:2em ;
}

.detail p a{
	color: #ff0000;
	font-style: italic;
}

.news_list li{
	height: 26px;
	width: 418px;
	float: left;
	line-height: 39px;
}

.news_list .circle{
	display: inline-block;
	height: 7px;
	width: 7px;
	border: 1px solid #059b48;
	border-radius: 50%;
}


.know_more{
	padding: 15px;
}

.know_more div{
	height: 96px;
	width: 107px;
	margin: 13px;
	border: 1px solid #FFffff;
	border-radius: 5px;
	float: left;
	text-align: center;
}

.know_more div span{
	position: relative;
	top: -25px;
	color: #FFFFFF;
}

.co img{
	display: block;
	margin-left: 12px;
	margin-top: 10px;
}

.know_more>img{
	height: 38px;
	width: 117px;
	margin-left: 78px;
}


/*industry*/


.industry{
	height: 381px;
	padding: 15px 0;
}

.industry img{
	margin: 0 12px;
}

.industry span{
	margin-bottom: 140px;
	display: inline-block;
	height: 90px;
	width: 58px;
}

.industry .prev{
	background: url(../images/prev.jpg);	
}

.industry .next{
	background: url(../images/next.jpg);
}



/*footer*/


.footer{
	height: 261px;
	background: #eeeeee;
	overflow: hidden;
}

.f_link{
	display: inline-block;
	margin-top: 21px;
	margin-left: 117px;
}
.footer_bar{
	height:  20px;
	background: #007b25;
	margin: 10px 0;
	color: #FFFFFF;
	padding: 15px 0;
	padding-left: 235px;
}

.footer_bar li{
	height: 24px;
	width: 104px;
	float: left;
	text-align: center;
}

.footer p{
	line-height: 30px;
	margin-left: 15em;
}

